{% extends 'base.html' %}
{% block content %}
    {% for row in session['board'] %}
        <div>{{row}}</div>
    {% endfor %}
     <span id="displayGuess"></span>
    <p>
        <form action="" method="POST" id="guess-form" name="guess-form">
            <input type="text" id="user-guess-text">
            <button type="submit">Submit Guess</button>
        </form>
    </p>
    <div>Score: <span id="score">0</span</div>
    <div>Highest Score: {{session['highestScore']}} </div>
    <div>You played: {{session['count']}}times</div>
{% endblock %}